{% extends 'base.html' %}
<!--  -->
{% block links %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/create.css') }}"
/>
{% endblock %}
<!--  -->
{% block title %}####Chan{% endblock %}
<!--  -->
{% if username %}
<!--  -->
{% block body%}
<section id="MainContainer">
  <div id="MC-Inner">
    <form method="POST" enctype="multipart/form-data">
      <div id="MC-I-F-LeftSide">
        <h1>Create a New Post</h1>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />

        <label for="description">Description: </label>
        <textarea
          name="description"
          id="MC-I-DescriptionTextarea"
          maxlength="200"
          required
        ></textarea>

        <label for="content">Content:</label>
        <textarea
          name="content"
          id="MC-I-Textarea"
          style="white-space: pre-wrap"
          required
        ></textarea>
      </div>
      <div id="MC-I-F-RightSide" style="margin: 0">
        <label for="MC-I-F-ImgUpload" id="MC-I-F-ImgUploadLabel"
          >Upload Image:</label
        >
        <p id="MC-I-F-ImgName">The file is not selected</p>
        <input
          type="file"
          name="image"
          accept="image/*"
          id="MC-I-F-ImgUpload"
        />

        <button type="submit">Create Post</button>
      </div>
    </form>
    <!-- 


     -->
  </div>
</section>
{% endblock %}
<!--  -->
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/create.js') }}"></script>
{% endblock %}
<!--  -->
{% else %}
<p>You need to <a href="{{ url_for('login') }}">log in</a> to create a post.</p>
{% endif %}
