#Profile {
  width: 92%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#P-Container {
  width: 100%;
  height: 80vh;
  background-color: #111111;
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  border-radius: 3vw;
  padding: 2vh;
  box-sizing: border-box;
}
#P-C-LeftSide {
  width: 100%;
  border-radius: 2vw 0 0 2vw;
  border: 0.1vw solid #4f4f4f;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding-top: 1vw;
  box-sizing: border-box;
}
#P-C-RightSide {
  width: 100%;
  height: 76vh;
  max-height: 80vh;
  border-radius: 0 2vw 2vw 0;
  border: 0.1vw solid #4f4f4f;
  border-left: 0;
}
#P-C-LS-ProfileImage {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
#P-C-LS-ProfileImage img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 10vw;
}
#P-C-LS-ProfileInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  box-sizing: border-box;
}
#P-C-LS-ProfileInformation h1 {
  font-size: 1.2vw;
  font-family: "Montserrat";
}
.P-C-LS-PI-Button {
  width: 8vw;
  height: 2.5vw;
  background-color: #1f1f1f00;
  border: 0.1vw solid #4f4f4f;
  border-radius: 1vw;
  font-family: "Montserrat";
  font-size: 0.8vw;
  transition: all 150ms ease-in-out;
}
.P-C-LS-PI-Button:hover {
  cursor: pointer;
  background-color: #4f4f4f;
  border-radius: 10vw;
  -webkit-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
}
.P-C-LS-PI-Button a {
  font-size: 0.8vw;
}
#P-C-RS-LikedPosts {
  width: 30vw;
  height: 75.8vh;
  padding: 0.8vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.5) rgba(41, 41, 41, 0);
}
#P-C-RS-LikedPosts h1 {
  font-size: 1.5vw;
  font-family: "Montserrat";
}
.P-C-RS-LP-Post {
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 2vw;
  padding: 0.5vw;
  box-sizing: border-box;
  display: flex;
}
.P-C-RS-LP-P-Content img {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  border-radius: 10vw;
}
.P-C-RS-LP-P-Content {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.P-C-RS-LP-P-Content span {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.P-C-RS-LP-P-Content span a {
  font-size: 1vw;
  font-family: "Inter", sans-serif;
  width: 22vw;
}
.P-C-RS-LP-P-Content span p {
  font-size: 0.8vw;
  font-family: "Montserrat";
  opacity: 0.8;
  max-width: 27vw;
}
.P-C-RS-LP-P-C-Buttons {
  display: flex;
  gap: 0.7vw;
}
.P-C-RS-LP-P-C-Buttons button {
  width: 2.5vw;
  height: 2vw;
  border: 0.1vw solid #4f4f4f;
  background-color: #11111100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  transition: all 150ms ease-in-out;
}
.P-C-RS-LP-P-C-Buttons button a {
  color: #d3d3d3;
  font-size: 0.7vw;
}
.P-C-RS-LP-P-C-Buttons button:hover {
  background-color: #4f4f4f;
  border-radius: 10vw;
  -webkit-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
}
.P-C-RS-LP-P-C-Buttons button svg {
  width: 1vw;
  height: 1vw;
}
