<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="snow-container"></div>

    <header class="navbar">
      <div class="navbar-logo">
        <h1><a href="./">####Chan</a></h1>
      </div>

      <div class="search-container">
        <input
          type="text"
          id="search-bar"
          placeholder="Search..."
          autocomplete="off"
        />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
        <div class="search-results" id="results-container"></div>
      </div>

      {% if username %}
      <a href="./profile"><button class="logbutton">{{ username }}</button></a>
      {% else %}
      <a href="./register"><button class="logbutton">Sign up</button></a>
      {% endif %}
    </header>
    {% block body %}{% endblock %}
    <footer></footer>
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
