<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!--ICONS-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />

    <!--icons-->
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--Header-->
    <header class="navbar">
      <div class="navbar-logo">
        <h1>####Chan</h1>
      </div>

      <div class="search-container">
        <input
          type="text"
          id="search-bar"
          placeholder="Search..."
          autocomplete="off"
        />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
        <div class="search-results" id="results-container"></div>
      </div>

      <button class="logbutton"><a href="./register">Sign up</a></button>
    </header>

    <!--Header end-->

    <!--Main body-->

    {% block body %}{% endblock %}
    <footer></footer>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
