{% extends 'base.html' %}
<!--  -->
{% block links %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/create.css') }}"
/>
{% endblock %}
<!--  -->
{% block title %}####Chan{% endblock %}
<!--  -->
{% if username %}
<!--  -->
{% block body%}
<section id="MainContainer">
  <div id="MC-Inner">
    <h1>Create a New Post</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title"  />

      <label for="content">Content:</label>
      <textarea name="content" id="MC-I-Textarea" ></textarea>

      <label for="post_image">Upload Image:</label>
      <input type="file" name="image" accept="image/*" />

      <button type="submit">Create Post</button>
    </form>
  </div>
</section>
{% endblock %}
<!--  -->
{% block scripts %}
<!-- <script src="{{ url_for('static', filename='scripts/create.js') }}"></script> -->
{% endblock %}

<!--  -->
{% else %}
<p>You need to <a href="{{ url_for('login') }}">log in</a> to create a post.</p>
{% endif %}
<!--  -->
