{% extends 'base.html' %}


{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/mainpage.css') }}"
/>
<!--Do not touch and not usable-->
{% endblock %}

{% block title %} ####Chan {% endblock %}

{% if username %}
    <a href="/profile">
        <button class="logbutton">
            {% if profile_image %}
                <img src="data:image/png;base64,{{ profile_image }}" alt="Avatar" class="avatar">

            {% endif %}
            {{ username }}
        </button>
    </a>
{% else %}
    <a href="/register"><button class="logbutton">Sign up</button></a>
{% endif %}


{% block body %}
    
        {% for post in posts %} {% if post['post_image'] %}
        <img
            src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
            alt="{{ post['title'] }}"
            style="width: 20rem"
        />
        {% endif %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created_at'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr />
        {% endfor %}

        <!--POST section ends-->

    
{% endblock %}

