{% extends 'base.html' %}
<!--  -->
{% block title %} ####Chan {% endblock %}
<!--  -->
{% block links %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/create.css') }}"
/>
{% endblock %}
<!--  -->
<!-- {% if username %}
  <a href="/profile">
      <button class="logbutton">
          {% if profile_image %}
              <img src="data:image/png;base64,{{ profile_image|b64encode }}" alt="Avatar" class="avatar"
              style="width: 2.5vw; /* Размер изображения */
              height: 2.5vw;
              border-radius: 50%; /* Круглая форма */
              margin-right: 10px; /* Отступ от имени */
              object-fit: cover; /* Сохранение пропорций */">
          {% endif %}
          {{ username }}
      </button>
  </a>
{% else %}
    <a href="/register"><button class="logbutton">Sign up</button></a>
{% endif %} -->

{% block body %}
<section id="MainContainer">
  <div id="MC-Inner">
    <form method="post" enctype="multipart/form-data">
      <div id="MC-I-F-LeftSide">
        <h1>Edit "{{ post['title'] }}" post</h1>
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          placeholder="Post title"
          value="{{ request.form['title'] or post['title'] }}"
        />
        <!-- 

  ВОТ ТУТ СДЕЛАЙ ДОБАВЛЕНИЕ ОПИСАНИЯ, ЭТО CREATE |
                                                 |
                                                \/
 -->
        <label for="description">Description:</label>
        <textarea name="description" id="MC-I-DescriptionTextarea"></textarea>
        <!-- 



       -->
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content" id="MC-I-Textarea">
{{ request.form['content'] or post['content'] }}</textarea
        >
      </div>

      <div id="MC-I-F-RightSide">
        <label for="MC-I-F-ImgUpload" id="MC-I-F-ImgUploadLabel"
          >Upload Image:</label
        >
        <p id="MC-I-F-ImgName">The file is not selected</p>
        <input
          type="file"
          name="image"
          accept="image/*"
          id="MC-I-F-ImgUpload"
        />
        <button type="submit">Submit</button>
      </div>
    </form>
    <form
      action="{{ url_for('delete', id=post['id']) }}"
      method="POST"
      id="MC-C-DeleteForm"
    >
      <input
        id="MC-I-Deleter"
        type="submit"
        value="Delete Post"
        onclick="return confirm('Are you sure you want to delete this post?')"
      />
    </form>
  </div>
</section>
{% endblock %}
<!--  -->
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/create.js') }}"></script>
{% endblock %}
