<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Your nickname: {{ username }}</h1>
    <h2>Your email: {{ email }}</h2>
    <form action="/update_profile" method="post" enctype="multipart/form-data">
      <label for="username">New Nickname:</label>
      <input type="text" id="username" name="username" /><br /><br />

      <label for="email">New Email:</label>
      <input type="email" id="email" name="email" /><br /><br />

      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" /><br /><br />

      <label for="profile_picture">Profile Picture:</label>
      <input
        type="file"
        id="profile_picture"
        name="profile_picture"
      /><br /><br />

      <input type="submit" value="Update Profile" />
    </form>
    <h2><a href="/edit">Edit</a></h2>
    <h2><a href="/logout">logout</a></h2>
    <h2><a href="/">Home</a></h2>
  </body>
</html>
