{% extends 'base.html' %}

<!--  -->

{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/mainpage.css') }}"
/>
<!--Do not touch and not usable-->
{% endblock %}

<!--  -->

{% block title %} ####Chan {% endblock %}

<!--  -->

{% block body %}
<section id="Discussions">
  <div id="D-Container">
    <div id="D-C-Carousel">
      <button class="D-C-C-Button left">&#8592;</button>
      <div id="D-C-C-Track">
        <div class="D-C-C-T-Card"></div>
        <div class="D-C-C-T-Card"></div>
        <div class="D-C-C-T-Card"></div>
        <div class="D-C-C-T-Card"></div>
        <div class="D-C-C-T-Card"></div>
      </div>
      <button class="D-C-C-Button right">&#8594;</button>
    </div>
    <hr />
    <aside>
      <!--POST section-->
      {% for post in posts %} {% if post['post_image'] %}
      <h2> <a href="{{ url_for('unknownuser', post_id=post['id']) }}">@{{ post['author'] }}</a></h2>


      <img
        src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
        alt="{{ post['title'] }}"
        style="width: 20rem"
      />
      {% endif %}
      <a href="{{ url_for('post', post_id=post['id']) }}">
        <h2>{{ post['title'] }}</h2>
      </a>
      <span class="badge badge-primary">{{ post['created_at'] }}</span>
      <!--<a href="{{ url_for('edit', id=post['id']) }}">
        <span class="badge badge-warning">Edit</span>
      </a>-->
      <hr />
      {% endfor %}

      <!--POST section ends-->
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <div class="D-C-Card-F-LeftPart">
            <img src="/static/images/GPT.png" alt="" />
            <span>
              <h1>Article</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis, accusamus fuga reiciendis, nam nulla eaque dolor
                debitis nobis fugiat vitae quibusdam animi possimus ab quidem
                minus, id blanditiis cum sunt.
              </p>
            </span>
          </div>
          <button class="D-C-Card-Front-Button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            ipsa voluptatibus quidem consequatur eveniet, dolor inventore
            adipisci dolorem quibusdam veniam architecto provident doloribus
            aut? Harum praesentium officia molestias natus corporis.
          </p>
        </div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <div class="D-C-Card-F-LeftPart">
            <img src="/static/images/GPT.png" alt="" />
            <span>
              <h1>Article</h1>
              <p></p>
            </span>
          </div>
          <button class="D-C-Card-Front-Button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            ipsa voluptatibus quidem consequatur eveniet, dolor inventore
            adipisci dolorem quibusdam veniam architecto provident doloribus
            aut? Harum praesentium officia molestias natus corporis.
          </p>
        </div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <span>
            <h1></h1>
            <p></p>
          </span>
          <button class="D-C-Card-Front-Button" id="burger-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back"><p></p></div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <span>
            <h1></h1>
            <p></p>
          </span>
          <button class="D-C-Card-Front-Button" id="burger-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back"><p></p></div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <span>
            <h1></h1>
            <p></p>
          </span>
          <button class="D-C-Card-Front-Button" id="burger-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back"><p></p></div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <span>
            <h1></h1>
            <p></p>
          </span>
          <button class="D-C-Card-Front-Button" id="burger-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back"><p></p></div>
      </div>
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <span>
            <h1></h1>
            <p></p>
          </span>
          <button class="D-C-Card-Front-Button" id="burger-button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back"><p></p></div>
      </div>
    </aside>
  </div>
</section>
<section id="Similar">
  <h1 id="S-Article">Similar topics</h1>
  <hr />
  <div class="S-Card">
    <img
      src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/43/56/4b/43564be6-97ea-1d60-56e0-a655c8fdfc57/cover.jpg/800x800cc.jpg"
      alt=""
    />
    <span>
      <h1>Topic 1</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRuojigeaTNXC83BJAsetOzk1_Sl4f8uRChw&s"
      alt=""
    />
    <span>
      <h1>Topic 2</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img src="{{ url_for('static', filename='images/farid.jpg') }}" alt="" />
    <span>
      <h1>Topic 3</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img
      src="https://cdn.discordapp.com/attachments/1326856665579917365/1326961617166139444/3e8959bc-631e-4c7f-8f83-26f447ee8f90.png?ex=678154cf&is=6780034f&hm=45cc0bef352131220f66705aa1ef71413b6051a3b355ca172c37cd1fa5cfd391&"
      alt=""
    />
    <span>
      <h1>Topic 4</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
</section>

{% endblock %}

<!--  -->

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/mainpage.js') }}"></script>
{% endblock %}
