{% extends 'base.html' %}

<!--  -->

{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/mainpage.css') }}"
/>

{% endblock %}

<!--  -->

{% block title %} ####Chan {% endblock %}

<!--  -->

{% block body %}
<section id="Discussions">
  <div id="D-Container">
    <div id="D-C-Carousel">
      <button class="D-C-C-Button left">&#8592;</button>
      <div id="D-C-C-Track">
        <div class="D-C-C-T-Card">1</div>
        <div class="D-C-C-T-Card">2</div>
        <div class="D-C-C-T-Card">3</div>
        <div class="D-C-C-T-Card">4</div>
        <div class="D-C-C-T-Card">5</div>
      </div>
      <button class="D-C-C-Button right">&#8594;</button>
    </div>
    <hr />
    <aside>
      {% for post in posts %}
      <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <div class="D-C-Card-F-LeftPart">
            {% if post['post_image'] %}
            <img
              src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
              alt="{{ post['title'] }}"
            />
            {% else %}
            <img src="/static/images/NoImage.png" alt="" />
            {% endif %}
            <span>
              <a href="{{ url_for('post', post_id=post['id']) }}">
                {{ post['title'] }}
              </a>
              <div class="D-C-C-F-LP-AuthorDate">
                <a href="{{ url_for('unknownuser', post_id=post['id']) }}">
                  <p>@{{ post['author'] }}</p>
                </a>
                {% if post['last_modified'] %}
                <p>{{ post['last_modified'] }}</p>
                {% endif %}
              </div>
              <p style="white-space: pre-wrap;">{{ post['description'] }}</p>
            </span>
            
          
          </div>
          <button class="D-C-Card-Front-Button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back" style="white-space: pre-wrap;">
          <p>{{ post['content'] | truncate(800) }}</p>
        </div>

        <div class="D-C-Card-Actions">
          <form action="/like/{{ post['id'] }}" method="POST">
              <button><p style="color: red;">Likes {{ post['like_count'] }}</p></button>
          </form>
      </div>
      
      </div>
      
      {% endfor %}

      <!-- <div class="D-C-Card">
        <div class="D-C-Card-Front">
          <div class="D-C-Card-F-LeftPart">
            <img src="/static/images/GPT.png" alt="" />
            <span>
              <h1>Article</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perspiciatis, accusamus fuga reiciendis, nam nulla eaque dolor
                debitis nobis fugiat vitae quibusdam animi possimus ab quidem
                minus, id blanditiis cum sunt.
              </p>
            </span>
          </div>
          <button class="D-C-Card-Front-Button">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="D-C-Card-Back">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            ipsa voluptatibus quidem consequatur eveniet, dolor inventore
            adipisci dolorem quibusdam veniam architecto provident doloribus
            aut? Harum praesentium officia molestias natus corporis.
          </p>
        </div>
      </div> -->
    </aside>
  </div>
</section>

<section id="Similar">
  <h1 id="S-Article">Similar topics</h1>
  <hr />
  <div class="S-Card">
    <img
      src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/43/56/4b/43564be6-97ea-1d60-56e0-a655c8fdfc57/cover.jpg/800x800cc.jpg"
      alt=""
    />
    <span>
      <h1>Topic 1</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img src="" alt="" />
    <span>
      <h1>Topic 2</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img src="{{ url_for('static', filename='images/farid.jpg') }}" alt="" />
    <span>
      <h1>Topic 3</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
  <div class="S-Card">
    <img src="" alt="" />
    <span>
      <h1>Topic 4</h1>
      <p>2.458.548 viewers</p>
    </span>
    <button>View</button>
  </div>
</section>

{% endblock %}

<!--  -->

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/mainpage.js') }}"></script>

{% endblock %}
