{% extends 'base.html' %}
<!--  -->
{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/post.css') }}"
/>
{% endblock %}
<!--  -->
{% block title %} ####Chan {% endblock %}
<!--  -->
{% if username %}
<a href="/profile">
  <button class="logbutton">
    {% if profile_image %}
    <img
      src="data:image/png;base64,{{ profile_image|b64encode }}"
      alt="Avatar"
      class="avatar"
      style="
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      "
    />
    {% endif %} {{ username }}
  </button>
</a>
{% else %}
<a href="/register"><button class="logbutton">Sign up</button></a>
{% endif %}
<!--  -->
{% block body %}
<div id="Post">
  <div id="P-Container">
    <div id="P-C-PostContent">
      <div id="P-C-PC-Main">
        <div id="P-C-PC-M-ImageContainer">
          {% if post['post_image'] %}
          <img
            src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
            id="P-C-PC-M-IC-Background"
          />
          <img
            id="P-C-PC-M-IC-Image"
            src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
            alt="{{ post['title'] }}"
          />
          {% else %}
          <img src="/static/images/NoImage.png" id="P-C-PC-M-IC-Background" />
          <img
            id="P-C-PC-M-IC-Image"
            src="/static/images/NoImage.png"
            alt="{{ post['title'] }}"
          />
          {% endif %}
        </div>
        <div id="P-C-PC-M-Content">
          <h1>{{ post['title'] }}</h1>
          <a href="{{ url_for('unknownuser', post_id=post['id']) }}">
            <p>@{{ post['author'] }}</p>
          </a>
          <hr />
          <h2>{{ post['description'] }}</h2>
          <p style="margin-left: 1vw">{{ post['content'] }}</p>
        </div>
      </div>
      <div id="P-C-PostDiscussion">
        <hr />
        <h1>Comments</h1>
        {% if username %}
        <form action="/comment/{{ post['id'] }}" method="POST">
          <input
            name="comment_content"
            placeholder="Write a comment..."
            rows="4"
          ></input>
          <button type="submit">Post Comment</button>
        </form>
        {% else %}
        <p><a href="/login">Login</a> to leave a comment.</p>
        {% endif %}
        <div id="P-C-PD-Comments">
          {% if comments %}
          <!--  -->
          {% for comment in comments %}
          <div id="P-C-PD-C-Comment">
            <a href="{{ url_for('unknownuser', post_id=post['id']) }}">
              @{{ comment['author'] }}
            </a>
            <p style="white-space: pre-wrap">
              {{ comment['comment_content'] }}
            </p>
          </div>
          {% endfor %}
          <!--  -->
          {% else %}
          <p style="font-size: 1vw;">No comments yet. Be the first to comment!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--  -->
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/post.js') }}"></script>

{% endblock %}
