{% extends 'base.html' %}
<!--  -->
{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/post.css') }}"
/>
{% endblock %}
<!--  -->
{% block title %} ####Chan {% endblock %}
<!--  -->
{% if username %}
<a href="/profile">
  <button class="logbutton">
    {% if profile_image %}
    <img
      src="data:image/png;base64,{{ profile_image|b64encode }}"
      alt="Avatar"
      class="avatar"
      style="
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      "
    />
    {% endif %} {{ username }}
  </button>
</a>
{% else %}
<a href="/register"><button class="logbutton">Sign up</button></a>
{% endif %}
<!--  -->
{% block body %}
<div id="Post">
  <div id="P-Container">
    <div id="P-C-PostContent">
      <div id="P-C-PC-ImageContainer">
        {% if post['post_image'] %}
        <img
          src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
          id="P-C-PC-Background"
        />
        <img
          id="P-C-PC-IC-Image"
          src="data:image/jpeg;base64,{{ post['post_image'] | b64encode }}"
          alt="{{ post['title'] }}"
        />
        {% else %}
        <img src="/static/images/NoImage.png" id="P-C-PC-Background" />
        <img
          id="P-C-PC-IC-Image"
          src="/static/images/NoImage.png"
          alt="{{ post['title'] }}"
        />
        {% endif %}
      </div>
      <div id="P-C-PC-Content">
        <h1>{{ post['title'] }}</h1>
        <a href="{{ url_for('unknownuser', post_id=post['id']) }}">
          <p>@{{ post['author'] }}</p>
        </a>
        <hr />
        <h2>{{ post['description'] }}</h2>
        <p style="margin-left: 1vw">{{ post['content'] }}</p>
      </div>
      <!-- <div id="P-C-PostDiscussion">
        <h3>Comments</h3>
        {% if username %}
        <form action="/comment/{{ post['id'] }}" method="POST">
          <textarea
            name="comment_content"
            placeholder="Write a comment..."
            rows="4"
            style="
              width: 100%;
              padding: 10px;
              font-size: 14px;
              border-radius: 5px;
              margin-bottom: 10px;
              color: black;
            "
          ></textarea>
          <button
            type="submit"
            style="
              padding: 10px 15px;
              background-color: #007bff;
              color: white;
              border: none;
              border-radius: 5px;
            "
          >
            Post Comment
          </button>
        </form>
        {% else %}
        <p><a href="/login">Login</a> to leave a comment.</p>
        {% endif %}
        <div id="comments-list">
          {% if comments %} {% for comment in comments %}
          <div class="comment">
            <a href="{{ url_for('unknownuser', post_id=post['id']) }}">
              <p><strong>@{{ comment['author'] }}</strong></p>
            </a>

            <p style="white-space: pre-wrap">
              {{ comment['comment_content'] }}
            </p>
          </div>
          {% endfor %} {% else %}
          <p>No comments yet. Be the first to comment!</p>
          {% endif %}
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
