{% extends 'base.html' %}
<!-- Добавление шаблона base -->
{% block title %} KuniChan {% endblock %}
<!-- Создание тайтла -->

{% block body %}
<!-- Создание наполнения страницы -->

<div class="register-container">
    <form action="/register" method="POST"> <!-- Указываем метод POST -->
      <div class="register-buttons">
        <input type="text" name="username" placeholder="Username" required /> <!-- Username -->
        <input type="email" name="email" placeholder="Email" required /> <!-- Email -->
        <input type="password" name="password" placeholder="Password" required /> <!-- Password -->
        <button type="submit">Register</button> <!-- Кнопка отправки -->
      </div>
    </form>
  </div>

{% endblock %}
