{% extends 'base.html' %}
<!--  -->
{% block title %} Update Profile {% endblock %}
<!--  -->
{% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/profileupdate.css') }}"
/>
{% endblock %}
<!--  -->
{% if username %}
<a href="/profile">
  <button class="logbutton">
    {% if profile_image %}
    <img
      id="H-Img"
      src="data:image/png;base64,{{ profile_image|b64encode }}"
      alt="Avatar"
    />
    {% endif %}
    <!--  -->
    {{ username }}
  </button>
</a>

{% block body %}
<section id="ProfileUpdate">
  <div id="PU-Container">
    <h1>Update Profile</h1>
    <form id="PU-C-Form" method="POST" enctype="multipart/form-data">
      <div class="PU-C-F-InputDiv">
        <label for="username">New Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="{{ username }}"
          autocomplete="off"
          required
        />
      </div>
      <div class="PU-C-F-InputDiv">
        <label for="email">New Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="{{ email }}"
          autocomplete="off"
          required
        />
      </div>
      <div class="PU-C-F-InputDiv">
        <label for="password"
          >New Password (leave blank to keep current):</label
        >
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="off"
        />
      </div>
      <div class="PU-C-F-InputDiv">
        <!--  -->
        <label for="profile_image" id="PU-C-F-ID-Label" style="font-size: 0.9vw"
          >Upload image:</label
        >
        <input
          type="file"
          id="profile_image"
          name="profile_image"
          accept="image/*"
          style="display: none"
        />
        <p id="PU-C-F-ID-ImageName">The file is not selected</p>
        <!--  -->
      </div>
      <button type="submit">Save Changes</button>
    </form>
    <a href="/profile"><button>Cancel</button></a>
  </div>
</section>
{% endblock %}
<!--  -->
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/profileupdate.js') }}"></script>
{% endblock %}
<!--  -->
{% else %}
<a href="/register"
  ><button class="logbutton" style="padding-left: 0.7vw">Sign up</button>
</a>
{% endif %}
