@font-face {
  font-family: "Jersey15";
  src: url("../fonts/Jersey15-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  border: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #080808;
  /* overflow: hidden; */
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}
.snowflake {
  position: absolute;
  top: -10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  filter: blur(1px);
  animation: fall linear infinite;
}
@keyframes fall {
  0% {
    transform: translateY(-10px) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) translateX(var(--sway-distance));
    opacity: 0;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  z-index: 1000;
}
.spinner {
  width: 3.5vw;
  height: 3.5vw;
  border: 0.2vw solid rgba(255, 255, 255, 0.3);
  border-top: 0.2vw solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

main {
  display: flex;
}

#Navigation {
  width: 17vw; /* Adjusted for toggle */
  height: 90vh;
  background-color: #111111;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  gap: 0.5vw;
  padding-top: 1vw;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  box-sizing: border-box;
}
#Navigation.collapsed {
  width: 5vw;
}
#Navigation h1 {
  display: block;
  width: 80%;
  margin: 1vw 0 0.2vw 0;
  font-size: 0.9vw;
  font-family: "Comfortaa", serif;
  color: #d3d3d3;
  transition: opacity 0.3s ease-in-out;
}
#Navigation hr {
  width: 80%;
  height: 0.01vw;
  background-color: #d3d3d3;
  margin: 0.5vw;
  border: none;
}
.N-Button p {
  font-size: 0.9vw;
  font-family: "Comfortaa", serif;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  text-align: start;
  color: #d3d3d3;
}
.N-Button {
  width: 80%;
  height: 2.8vw;
  background-color: rgb(27, 27, 27, 0);
  display: flex;
  align-items: center;
  gap: 0.7vw;
  border-radius: 0.7vw;
  padding-left: 0.8vw;
  transition: ease-in-out 100ms;
}
.toggle-btn {
  position: absolute;
  align-self: flex-end;
  margin-right: 1.6vw;
  width: 2.5vw;
  height: 2.5vw;
  background-color: #202020;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
#Navigation .toggle-btn:hover {
  background-color: #4f4f4f;
  -webkit-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
}
#Navigation .toggle-btn svg {
  width: 1.5vw;
  height: 1.5vw;
  stroke: #d3d3d3;
  transition: transform 0.3s ease-in-out;
}
#Navigation.collapsed .toggle-btn svg {
  transform: rotate(180deg);
}
.NavigationSelectedMenu {
  background-color: #202020;
}
#Navigation.collapsed .N-Button {
  padding-left: 0;
}
#Navigation.collapsed .N-H-Svg {
  /* width: 3.8vw; */
  padding-left: 0;
  /* margin: 0 auto; */
}
.N-Button:hover p {
  color: #fcfcfc;
}
.N-Button svg {
  transition: ease-in-out 100ms;
}
.N-Button:hover svg {
  stroke: #fcfcfc;
}
.N-H-Svg {
  width: 1.7vw;
  height: 1.7vw;
  min-width: 1.7vw;
  min-height: 1.7vw;
}
#N-P-Img {
  width: 2vw;
  height: 2vw;
  border-radius: 5vw;
  border: 0.15vw solid #484848;
  object-fit: cover;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #111111;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1vw solid #646464;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar-logo h1 {
  font-size: 4vw;
  font-family: "Jersey15", sans-serif;
}
.search-container {
  width: auto;
  align-items: center;
  display: flex;
}
#search-bar {
  width: 30vw;
  height: 2.5vw;
  padding-left: 1vw;
  background-color: #4f4f4f9c;
  font-family: "WorkSans", sans-serif;
  font-size: 1.2vw;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 10vw 0 0 10vw;
  transition: background-color ease-in-out 150ms, box-shadow ease-in-out 150ms;
}
#search-bar:focus {
  background-color: #484848;
  border: 0.1vw solid #4f4f4f;
  -webkit-box-shadow: 0px 0px 15vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 5vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 5vw 0.1vw #4f4f4f;
  outline: none;
}
.search-icon {
  width: 2.5vw;
  height: 2.5vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f4f4f9c;
  border-radius: 0 10vw 10vw 0;
  font-size: 1vw;
  pointer-events: none;
}
.search-icon i {
  color: #8282829c;
}
.logbutton {
  height: 2.3vw;
  border: none;
  border-radius: 10vw;
  font-family: "WorkSans", sans-serif;
  color: #fff;
  background-color: #ff202000;
  display: flex;
  gap: 0.8vw;
  /* padding-right: 0.7vw; */
  padding: 0 1vw 0 1vw;
  align-items: center;
  border: 0.1vw solid #4f4f4f;
  font-weight: 700;
  font-size: 0.9vw;
  box-sizing: border-box;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}
.logbutton:hover {
  background-color: #4f4f4f;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 10vw 1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 10vw 1vw #4f4f4f;
  box-shadow: 0px 0px 10vw 1vw #4f4f4f;
}
#H-Img {
  width: 2.2vw;
  height: 2.2vw;
  object-fit: cover;
  border-radius: 10vw;
}

#mainInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Расположение стилей должно идти в строгом порядке
width
height
background
background-size
background-repeat
opacity
position
left - right - top - bottom
box-sizing
display
justify-content
flex-direction
align-items
grid-template-columns
grid-template-rows
grid-column
grid-row
grid-gap
gap
margin
padding
border
border-radius
box-shadow
-webkit-box-shadow
-moz-box-shadow
text-align
font-size
font-family
font-weight
letter-spacing
word-spacing
line-height
text-decoration
color
transition
transform
user-select 
z-index
*/
