#Container {
    height: 90vh;
    padding: 2vw 0 0 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
  }
  aside {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    gap: 2vw;
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 3vw 3vw 0 0;
    background-color: #111111;
    scrollbar-width: thin;
    scrollbar-color: rgba(170, 170, 170, 0.5) rgba(41, 41, 41, 0);
  }
  .C-A-Card {
    display: flex;
    width: 80vw;
    background-color: #1a1a1a;
    border-radius: 10vw;
    padding: 1vw;
    box-sizing: border-box;
  }
  
  .C-A-Card img {
    width: 10vw;
    border-radius: 10vw;
  }