/* @font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-V.ttf");
} */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

main {
  display: grid;
  grid-template-columns: 0.6fr 3fr 1fr;
  grid-template-rows: 90vh;
}

#Navigation {
  width: 100%;
  height: 100%;
  background-color: #111111;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-right: 0.1vw solid #ff2020;
  gap: 0.5vw;
  padding-top: 1vw;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
}
.N-Button {
  width: 80%;
  height: 3vw;
  background-color: rgb(27, 27, 27, 0);
  display: flex;
  align-items: center;
  gap: 0.7vw;
  border: 0;
  border-radius: 0 2vw 2vw 0;
  font-size: 1vw;
  font-family: "Inter";
  font-weight: 400;
  text-align: start;
  color: #d3d3d3;
  transition: ease-in-out 100ms;
}
.N-Button:hover {
  color: #ff2020;
}
.N-Button svg {
  transition: ease-in-out 100ms;
}
.N-Button:hover svg {
  stroke: #ff2020;
}
.N-H-Svg {
  width: 2vw;
  height: 2vw;
}

#Similar {
  width: 20vw;
  height: 60vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  border-radius: 3vw;
  padding-top: 2vw;
  margin-top: 2vw;
  box-sizing: border-box;
  grid-column: 3;
  -webkit-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  -moz-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  box-shadow: inset 0px 0px 1vw 0.1vw #000000;
}
#S-Article {
  font-family: "Montserrat";
  font-size: 1.5vw;
}
#Similar hr {
  width: 80%;
  border: 0.1vw solid #ff2020;
}
.S-Card {
  position: relative;
  width: 95%;
  height: 3.5vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.S-Card img {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10vw;
  object-fit: cover;
}
.S-Card h1 {
  font-family: "Inter";
  font-size: 1.2vw;
}
.S-Card p {
  font-size: 0.8vw;
  font-family: "Montserrat";
}
.S-Card button {
  width: 4vw;
  height: 2vw;
  background-color: #90000000;
  position: absolute;
  border-radius: 2vw;
  border: 0.1vw solid #ff2020;
  right: 0;
  font-family: "Montserrat";
  font-size: 0.75vw;
  transition: all 150ms ease-in-out;
}
.S-Card button:hover {
  background-color: #ff2020;
  border-radius: 10vw;
  -webkit-box-shadow: 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  -moz-box-shadow: 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  box-shadow: 0px 0px 5vw 0.1vw #ff2020;
}

#Discussions {
  width: 100%;
  height: 100%;
  padding: 2vw 2vw 0 2vw;
  grid-column: 2;
  grid-row: 1;
  box-sizing: border-box;
}
#D-Container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  border-radius: 3vw 3vw 0 0;
  padding: 2vw 1.5vw 0 1.5vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.5) rgba(41, 41, 41, 0);
  -webkit-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  -moz-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  box-shadow: inset 0px 0px 1vw 0.1vw #000000;
}
#D-CarouselContainer {
  width: 55.5vw;
  min-height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#D-CC-Carousel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 2vw;
}
.D-CC-C-Card {
  min-width: 16.5vw;
  min-height: 18vw;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 1vw;
  padding-bottom: 2vw;
  -webkit-box-shadow: 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  -moz-box-shadow: 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  box-shadow: 0px 0px 1vw 0.1vw #000000;
  text-align: center;
}
.D-CC-C-Card button {
  width: 8vw;
  height: 3vw;
  border: 0.1vw solid #ff2020;
  border-radius: 1vw;
  background-color: #111111;
  font-size: 0.8vw;
  transition: all 150ms ease-in-out;
}
.D-CC-C-Card button:hover {
  background-color: #ff2020;
  border-radius: 10vw;
  -webkit-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  -moz-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
}
.D-CC-ControlS {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.D-CC-CS-Button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 100vw;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  cursor: pointer;
}
.D-CC-CS-Button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#D-Container hr {
  width: 45vw;
  margin: 1.5vw 0 2vw 0;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}
.D-C-Card {
  width: 55.5vw;
  padding: 1vw;
  background-color: #1a1a1a;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5vw;
}
.D-C-Card-Front {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}
.D-C-Card-F-LeftPart {
  display: flex;
  align-items: center;
  gap: 1vw;
  flex: 1;
}
.D-C-Card-Front img {
  width: 8vw;
  height: 8vw;
  border-radius: 2vw;
  object-fit: cover;
}
.D-C-Card-Front span {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.D-C-Card-Front span h1 {
  font-size: 1.9vw;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: white;
}
.D-C-Card-Front span p {
  font-size: 1.1vw;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #d0d0d0;
}
.D-C-Card-Front-Button {
  width: 3.5vw;
  height: 2.5vw;
  background-color: #ff202000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 0.6vw;
  padding: 0;
  opacity: 0.8;
}
.D-C-Card-Front-Button:hover span {
  background-color: #ff2020;
  -webkit-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  -moz-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
}
.D-C-Card-Front-Button span {
  display: block;
  width: 100%;
  height: 2vw;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  transition: transform 300ms ease-in-out, background-color 100ms ease-in-out,
    opacity 300ms ease-in-out;
}
.D-C-Card-Front-Button.active span:nth-child(1) {
  transform: translateY(1.05vw) rotate(45deg);
}
.D-C-Card-Front-Button.active span:nth-child(2) {
  opacity: 0;
}
.D-C-Card-Front-Button.active span:nth-child(3) {
  transform: translateY(-1.05vw) rotate(-45deg);
}
.D-C-Card-Back {
  display: none;
}
.D-C-Card-Back p {
  font-size: 1.1vw;
  font-family: "Montserrat";
  color: #d0d0d0;
}
