/* @font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-V.ttf");
} */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

#mainInner {
  justify-content: space-evenly;
}

#Similar {
  width: 20vw;
  height: 60vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  border-radius: 3vw;
  padding: 2vw 1vw 0 1vw;
  margin-top: 2vw;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 1vw 0.1vw #000000;
  -moz-box-shadow: inset 0px 0px 1vw 0.1vw #000000;
  box-shadow: inset 0px 0px 1vw 0.1vw #000000;
}
#S-Article {
  font-family: "Montserrat";
  font-size: 1.5vw;
}
#Similar hr {
  width: 80%;
  border: 0.1vw solid #4f4f4f;
}
.S-Card {
  position: relative;
  width: 95%;
  height: 3.5vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.S-Card img {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10vw;
  object-fit: cover;
}
.S-Card h1 {
  font-family: "Inter";
  font-size: 1.2vw;
}
.S-Card p {
  font-size: 0.8vw;
  font-family: "Montserrat";
}
.S-Card button {
  width: 4vw;
  height: 2vw;
  background-color: #90000000;
  position: absolute;
  border-radius: 2vw;
  border: 0.1vw solid #4f4f4f;
  right: 0;
  font-family: "Montserrat";
  font-size: 0.75vw;
  transition: all 150ms ease-in-out;
}
.S-Card button:hover {
  background-color: #4f4f4f;
  border-radius: 10vw;
  -webkit-box-shadow: 0px 0px 10vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 10vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
}

#Discussions {
  width: 70%;
  height: 90vh;
  padding: 2vw 0 0 0;
  box-sizing: border-box;
}
#D-Container {
  width: 100%;
  height: 100%;
  background-color: #111111;
  border-radius: 3vw 3vw 0 0;
  padding: 2vw 1.5vw 0 1.5vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.5) rgba(41, 41, 41, 0);
  /* -webkit-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  -moz-box-shadow: inset 0px 0px 10vw 0.1vw rgba(255, 32, 32, 1);
  box-shadow: inset 0px 0px 1vw 0.1vw #000000; */
}
#D-C-Carousel {
  position: relative;
  width: 56vw;
  overflow: hidden;
  min-height: 18vw;
  background: #111111;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  border-radius: 2vw;
  box-sizing: border-box;
}
#D-C-C-Track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 2vw;
  /* border-radius: 3vw; */
}
.D-C-C-T-Card {
  background: #272727;
  border-radius: 0.7vw;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  width: 15vw;
  height: 18vw;
  text-align: center;
}
.D-C-C-Button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #17171700;
  border: 0.1vw solid #4f4f4f;
  color: #fff;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1vw;
  z-index: 10;
  transition: all ease-in-out 150ms;
}
.D-C-C-Button.left {
  left: 1vw;
}
.D-C-C-Button.right {
  right: 1vw;
}
.D-C-C-Button:hover {
  background: #4f4f4f;
  -webkit-box-shadow: 0px 0px 10vw 0.1vw #4f4f4f;
  -moz-box-shadow: 0px 0px 10vw 0.1vw #4f4f4f;
  box-shadow: 0px 0px 1vw 0.1vw #4f4f4f;
}
#D-Container hr {
  width: 45vw;
  margin: 1.5vw 0 2vw 0;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}
.D-C-Card {
  width: 100%;
  padding: 1vw;
  background-color: #1a1a1a;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5vw;
}
.D-C-Card-Front {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}
.D-C-Card-F-LeftPart {
  display: flex;
  align-items: center;
  gap: 1vw;
  flex: 1;
}
.D-C-Card-Front img {
  width: 8vw;
  height: 8vw;
  border-radius: 2vw;
  object-fit: cover;
}
.D-C-Card-Front span {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.D-C-Card-Front span h1 {
  font-size: 1.9vw;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: white;
}
.D-C-Card-Front span p {
  font-size: 1.1vw;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #d0d0d0;
}
.D-C-Card-Front-Button {
  width: 3.5vw;
  height: 2.5vw;
  background-color: #ff202000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  gap: 0.6vw;
  padding: 0;
  opacity: 0.8;
}
.D-C-Card-Front-Button:hover span {
  background-color: #ff2020;
  -webkit-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  -moz-box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
  box-shadow: 0px 0px 3vw 0.05vw #ff2020bc;
}
.D-C-Card-Front-Button span {
  display: block;
  width: 100%;
  height: 2vw;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  transition: transform 300ms ease-in-out, background-color 100ms ease-in-out,
    opacity 300ms ease-in-out;
}
.D-C-Card-Front-Button.active span:nth-child(1) {
  transform: translateY(1.05vw) rotate(45deg);
}
.D-C-Card-Front-Button.active span:nth-child(2) {
  opacity: 0;
}
.D-C-Card-Front-Button.active span:nth-child(3) {
  transform: translateY(-1.05vw) rotate(-45deg);
}
.D-C-Card-Back {
  display: none;
}
.D-C-Card-Back p {
  font-size: 1.1vw;
  font-family: "Montserrat";
  color: #d0d0d0;
}
