#Container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vw 0 0 0;
  box-sizing: border-box;
}
aside {
  display: flex;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  gap: 2vw;
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 4vw 4vw 0 0;
  background-color: #111111;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.5) rgba(41, 41, 41, 0);
}
.C-A-Card {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: #1a1a1a;
  border-radius: 3vw;
  padding: 1vw;
  box-sizing: border-box;
}
.C-A-Card img {
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 10vw;
}
.C-A-C-Main {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.C-A-C-Main p {
  font-size: 1vw;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.735);
}
.C-A-C-Main a p {
  transition: 150ms ease-in-out;
}
.C-A-C-Main a:hover p {
  text-decoration: underline;
  color: white;
}
.C-A-C-Main a:nth-child(1) p {
  font-size: 1.4vw;
  color: white;
}
